.form-wrapper {
    padding : 5px 25px 5px 25px;
    color :  #595757
}
.icon-style {
    margin-top : 25px;
    color : '#6c757d';
    width: 20px;
}
.creat-btn{
    background-color: #1eb588;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    margin-top: 10px;
}